<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> Add a Input field which updates a property ('username') via Two-Way-Binding.
        </ngb-alert>
      </p>
      <p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong>Output the username property via String Interpolation (in a paragraph below the input).
        </ngb-alert>
      </p>
      <p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> Add a button which may only be clicked if the username is NOT an empty string.
        </ngb-alert>
      </p>
      <p>
        <ngb-alert [dismissible]="false">
          <strong>Warning!</strong> Upon clicking the button, the username should be reset to an empty string.
        </ngb-alert>
      </p>
      <label><strong>User Name</strong></label>
      <input 
      type="text"
      class="form-control"
      [(ngModel)]="username">
      <hr/>
      <p>
        <ngb-alert type = 'success'[dismissible]="false">
          <strong>User Name is :</strong> {{username}}
        </ngb-alert>
      </p>
      <button 
      class="btn btn-primary"
      [disabled]= " username === ''"
      (click)= "username = ''">
      Reset User</button>
    </div>
  </div>
</div>